.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.side {
    width: 20%;
    height: 80%;
    background-color: #f0f0f0;
}
.side.right {
    overflow-y: hidden;
    border: 1px solid black;
    margin-left: 10px;
    scrollbar-gutter: stable both-edges;
}

.side.right:hover,
.side.right:active,
.side.right:focus {
    overflow-y: scroll;
}

.side.right::-webkit-scrollbar {
    width: 0.5em;
}

.side.right::-webkit-scrollbar-track {
    background-color: hsl(250 15% 93%);
}

.side.right::-webkit-scrollbar-thumb {
    background-color: hsl(250 15% 60%);
}

.side.right::-webkit-scrollbar-thumb:hover {
    background-color: hsl(250 15% 27%);
}

.side.right ul {
    list-style-type: none;
    padding: 0;
    margin: 2px;
}

li::marker {
    display: none;
}


.matchEvent {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    border: 5px solid transparent;
}

.leftMarker {
    border-left-color: red;
}

.rightMarker {
    border-right-color: green;
}

.centerContent {
    text-align: center;
    border-right-color: black;
    border-left-color: black;
}

.matchEvent br + br {
    display: none;
}

.matchEventLine {
    display: block;
    margin-bottom: 5px;
}

.matchEventLine.action{
    font-weight: bold;
}

.field {
    height: 80%;
    aspect-ratio: 85 / 80;
    background-color: #dbcdf4;
    position: relative;
    border-color: black;
    border-style:solid;
    border-width: 0.2rem;
}
.goal {
    width: 24%;
    height: 8%;
    background-color: #fff;
    position: absolute;
    border-color:black;
    border-style: solid;
    border-width: 0.2rem;
}
.goal.top, .goal.bottom {
    background-color:lightgrey;
    border-color:black;
}

.goal.top {
    margin: 0 50%;
    top: 0%;
    transform: translate(-50%, -100%);
}
.goal.bottom {
    margin: 0 50%;
    top: 100%;
    transform: translate(-50%, 0%);
}
.goal.field.top, .goal.field.bottom {
    height: 15vh;
    width: 24.5vw;
    border-radius: 100vh 100vh 0 0;
    border-color:black;
    border-style: solid;
    border-width: 0.2rem;
}
.goal.field.top {
    margin: 0 50%;
    top: 0%;
    transform: translate(-50%, -2%) rotate(180deg);
}
.goal.field.bottom {
    margin: 0 50%;
    bottom: 0%;
    transform: translate(-50%, -97.5%);
}
.midline {
    width: 100%;
    height: 0.235vh;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 0;
}
.mid.zone {
    width: 15%;
    height: 15%;
    border-radius:50%;
    position: absolute;
    background-color: lightgrey;
    border-color:black;
    border-style: solid;
    border-width: 0.2rem;
    margin: 0 50%;
    bottom: 50%;
    transform: translate(-50%,50%)
}

.player {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    position: absolute;
}


.team1 {
    background-color: #ff0000;
}

.team2 {
    background-color: #008000;
}

.sponsor {
    width: 30%;
    height: 5%;
    position: absolute;
    background-color:black;
}

.ball {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #ff8c00;
    position: absolute;
    top: 20%;
    left: 47.5%;
    opacity: 0;
}

.banner1 {
    top: 60%;
    left: 35%;
}

.banner2 {
    top: 67.5%;
    left: 35%;
}

.banner3 {
    top: 75%;
    left: 35%;
}

.actionInfo {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.playerInfo, .actionDetail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin: 5px 0;
}

.playerImage {
    width: 5vh;
    height: auto;
    margin-right: 5px;
}

.playerNumber, .playerName, #MATCH_TIME, #THROWING_PLAYER_ACTION {
    font-size: 3vh;
    margin: 0 5px;
}
.image {
    display: none;
}
.rightMarker {
    text-align: right;
}
.leftMarker {
    text-align: left;
}